<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Youtube Stream Comment App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/css/app.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Youtube Live Stream Comment App</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= if @conn.assigns[:user] do %>
          <a class="mdl-navigation__link" href=""><%= @conn.assigns.user.first_name %></a>
          <a class="mdl-navigation__link" href="/streams">Streams</a>
          <%= link "Sign out", to: auth_path(@conn, :delete), class: "mdl-navigation__link" %>
        <% else %>
          <%= link "Sign in with Google", to: auth_path(@conn, :request, "google", scope: "email profile"), class: "mdl-navigation__link" %>
        <% end %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Comment App</span>
    <nav class="mdl-navigation">
      <%= if @conn.assigns[:user] do %>
        <a class="mdl-navigation__link" href=""><%= @conn.assigns.user.first_name %></a>
        <a class="mdl-navigation__link" href="/streams">Streams</a>
        <%= link "Sign out", to: auth_path(@conn, :delete), class: "mdl-navigation__link" %>
      <% else %>
        <%= link "Sign in with Google", to: auth_path(@conn, :request, "google", scope: "email profile"), class: "mdl-navigation__link" %>
      <% end %>
    </nav>
  </div>
  <%= if get_flash(@conn, :info) do %>
    <span class="mdl-chip mdl-chip__info">
      <span class="mdl-chip__text" role="alert"><%= get_flash(@conn, :info) %></span>
    </span>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <span class="mdl-chip mdl-chip__error">
      <span class="mdl-chip__text" role="alert"><%= get_flash(@conn, :error) %></span>
    </span>
  <% end %>
  <main role="main" class="mdl-layout__content">
    <div class="page-content">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </main>
</div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
